@import ('_scripts/index.styl')

.content
  h1, h2, h3, h4, h5, h6
    margin 0
  h1, h2, h3, h4, h5, h6, ul, ol, li, p
    --font-family: var(--font-family-sans-serif-custom);
    --font-size var(--font-size-default)
    --line-height calc(((var(--font-size) + 1rem) * var(--ceilMultiplier)) / var(--ceilMultiplier))
    font-family var(customPropBaseName('font', 'family'))
    font-size var(--font-size)
    line-height var(--line-height)


.{$config.list.name}
  --font-size var(--font-size-default)
  font-size var(--font-size)
  margin-bottom 0
  margin-top 0
  padding-left 2rem

  li
    --line-height calc(((var(--font-size) + 1rem) * var(--ceilMultiplier)) / var(--ceilMultiplier))
    line-height var(--line-height)

    &::marker
      color red
      font-size var(--font-size-default)
      width 1rem
