extends ../../_layout.pug

block head

block content
  - var $t = locale.content;
  - var $fn = locals.fn;

  h1= $t.name

  - var $block = config.content;

  ul(class=config.list.name)
    li test

  ol(class=config.list.name)
    li test

  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore iusto, quis est qui accusamus earum vel nesciunt reiciendis illo, nulla nobis odit ratione voluptatem dolorem esse blanditiis similique obcaecati aut?
