section#box
  h1.font_size--large-xxx Box

  section#box-default
    h2.font_size--large-xx Default
    .box
      | Box default
  
  section#box-colors
    h2.font_size--large-xx Box Colors
    each $color_name in $color_themes
      .box(class='is_' + $color_name)= $color_name

  section#box-colors-outline
    h2.font_size--large-xx Box Colors outline
    each $color_name in $color_themes
      .box.is_outline(class='is_' + $color_name)= $color_name
