section#button
  h1.font_size--large-xxx Button

  section#button-default
    h2.font_size--large-xx Button Default
    p
      span.button .button
      button.button(disabled) .button or
      span.button.is_outline .button 1

  section#button-colors
    h2.font_size--large-xx Button Colors
    p
      each $color_name in $color_themes
        button.button(class='is_' + $color_name)= $color_name

  section#button-disabled
    h2.font_size--large-xx Button Disabled
    p
      each $color_name in $color_themes
        button.button.is_disabled(class='is_' + $color_name)= $color_name

  section#button-outline
    h2.font_size--large-xx Button Outline
    p
      each $color_name in $color_themes
        button.button.is_outline(class='is_' + $color_name)= $color_name

  section#button-focus
    h2.font_size--large-xx Button Focus
    p
      each $color_name in $color_themes
        button.button.is_focused(class='is_' + $color_name)= $color_name

  section#button-active
    h2.font_size--large-xx Button Active
    p
      each $color_name in $color_themes
        span.button.is_active(class='is_' + $color_name)= $color_name
