extends ../../_layout.pug

block head
  link(
    href="./typography.styl"
    rel="stylesheet"
  )

block content
  - var $t = locale.typography;
  - var $fn = locals.fn;

  h1= $t.name

  - var $block = config.font;

  each modifier, key in $block.modifiers
    h2= modifier.name

    ul
      each options, key in modifier.options
        li
          - var classModifier = $fn.className($block.name, '', modifier.name, options.name);
          span(class=classModifier)= $t.pangram
