@import ('../../_scripts/index.styl')

$configBlock = $config.font
$blockName = $configBlock.name
$modifiers = $configBlock.modifiers

// Font global variables
:root
  --grid-base $config.grid.base
  for $index, $modifier in $modifiers
    for $index, $option in $modifier.options
      {customPropName($blockName, $modifier.name ($option.name))}: $option.value
  for $index, $option in $modifiers.size.options
    --line-height-{$option.name} ceil(($option.value + ($config.grid.base / 1)) /  $config.grid.base) *  $config.grid.base

// Font base
[class*={$blockName}]
  for $index, $modifier in $modifiers
    {customPropName($blockName, ($modifier.name))} getDefaultCustomPropName($blockName, $modifier)

  font-size customPropNameVar($blockName, ($modifiers.size.name))
  font-style customPropNameVar($blockName, ($modifiers.style.name))
  font-weight customPropNameVar($blockName, ($modifiers.weight.name))
  line-height: var(--line-height)

// Font size
for $index, $option in $modifiers.size.options
  .{className($blockName, '', $modifiers.size.name ($option.name))}
    {customPropName($blockName, ($modifiers.size.name))} customPropNameVar($blockName, $modifiers.size.name ($option.name))
    --line-height: s('var(--line-height-%s)', $option.name)

// Font weight
for $index, $option in $modifiers.weight.options
  .{className($blockName, '', $modifiers.weight.name ($option.name))}
    {customPropName($blockName, ($modifiers.weight.name))} customPropNameVar($blockName, $modifiers.weight.name ($option.name))

// Font style
for $index, $option in $modifiers.style.options
  .{className($blockName, '', $modifiers.style.name ($option.name))}
    {customPropName($blockName, ($modifiers.style.name))} customPropNameVar($blockName, $modifiers.style.name ($option.name))
