@import ('_scripts/index.styl')

importFonts()

:root
  --ceilMultiplier $ceilMultiplier
  --gridBaseValue $config.grid.baseValue
  customPropAll('font')

[class*={className('font')}]
  --line-height calc(((var(--font-size) + 1rem) * var(--ceilMultiplier)) / var(--ceilMultiplier))
  customPropBaseNameValueAll('font')
  font-family var(customPropBaseName('font', 'family'))
  font-feature-settings var(customPropBaseName('font', 'features'))
  font-size var(customPropBaseName('font', 'size'))
  font-style var(customPropBaseName('font', 'style'))
  font-weight var(customPropBaseName('font', 'weight'))
  line-height var(--line-height)

{''}
  classNameModifierAll('font')
