// Typography
$vertical_rhythm = 8px
$font_sizes = small-xxx, small-xx, small-x, small, regular, large, large-x, large-xx, large-xxx
$font_weights = light-xxx light-xx light-x regular bold-x bold-xx bold-xxx bold-xxxx bold-xxxxx

// Grid
$columns = 12
$breakpoints = {
  mobile_s: 320px
  mobile_m: 375px
  mobile_l: 425px
  tablet: 768px
  laptop: 1024px
  laptop_l: 1440px
  laptop_4k: 2560px
}
$breakpoints_containers = {
  mobile_s: 100%
  mobile_m: 100%
  mobile_l: 100%
  tablet: 736px
  laptop: 992px
  laptop_l: 1280px
  laptop_4k: 1120px
}

// Colors
$color_white = #fff
$color_gray = #808080

// Rupture config
rupture.scale           = 0   ($breakpoints.mobile_s)   ($breakpoints.mobile_m)   ($breakpoints.mobile_l)   ($breakpoints.tablet)   ($breakpoints.laptop)   ($breakpoints.laptop_l)   ($breakpoints.laptop_4k)
//                        └─┬─┘                     └─┬─┘                     └─┬─┘                     └─┬─┘                   └─┬─┘                   └─┬─┘                     └─┬─┘               └─┬─
// Slice numbers:           1                         2                         3                         4                       5                       6                         7                   8
rupture.scale-names     = 'default' 'mobile_s' 'mobile_m' 'mobile_l' 'tablet' 'laptop' 'laptop_l' 'laptop_4k'
rupture.mobile-cutoff   = $breakpoints.tablet
rupture.desktop-cutoff  = $breakpoints.laptop_l
rupture.hd-cutoff       = $breakpoints.4k


// Custom properties
:root
  --color-gray $color_gray
  --color-white $color_white
  --font-family 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  --font-step .25
  --vertical-rhythm $vertical_rhythm

  // Container widths
  for $breakpoints_container, $width in $breakpoints_containers
    --container-width--{$breakpoints_container} $width

  // Font sizes
  for $size, $index in $font_sizes
    --font-size--{$size} 'calc(var(--vertical-rhythm) * calc(1 + var(--font-step) * %s))' % $index

  // Font weights
  for $weight, $index in $font_weights
    --font-weight--{$weight} 100 * ($index + 1)
