
$color_bg = rgba(#5296A5, .5)
$color_pd = rgba(#A57548, .8)
$color_bd = rgba(#FCD7AD, .8)
$color_mg = rgba(#F6C28B, .8)
$color_text = #333

.demo

  &_grid
    color $color_text
    margin-bottom calc(var(--vertical-rhythm) * 2)
    margin-top calc(var(--vertical-rhythm) * 2)
    overflow-x hidden
    padding-bottom calc(var(--vertical-rhythm) * 2)

    &:hover
      overflow-x auto

    [class*='grid_container']
      --background-color $color_bg
      background-color var(--background-color)
      min-height calc(var(--vertical-rhythm) * 4)

    [class*='grid_row']
      --background-color $color_bg
      background-color var(--background-color)
      border-radius 5px
      min-height calc(var(--vertical-rhythm) * 4)
      position relative
      text-align center
      z-index 10

      &:after
        --visibility hidden
        --opacity 0
        background $color_mg
        content 'margin row'
        display block
        font-size var(--vertical-rhythm)
        height var(--margin-bottom)
        left calc(var(--vertical-rhythm) * 1)
        opacity var(--opacity)
        pointer-events none
        position absolute
        top 100%
        transition opacity .2s linear
        visibility var(--visibility)
        width calc(100% - calc(var(--vertical-rhythm) * 2))

      &:hover
        outline 2px dashed green
        outline-offset -2px
        z-index 2
        &:after
          --visibility visible
          --opacity 1

    [class*='grid_column']
      --background-color $color_bg
      align-items center
      background-color var(--background-color)
      color #333
      display flex
      justify-content center
      min-height calc(var(--vertical-rhythm) * 4)
      position relative
      text-align center
      transition color .2s linear
      z-index 20

      &:hover
        color transparent
        z-index 30

        &:before
          --opacity 1
          --visibility visible

        &:after
          --opacity 1
          --outline-color red
          --visibility visible

      &:before
        --visibility hidden
        --opacity 0
        background-color #808080
        color white
        content attr(class)
        font-size 12px
        left 50%
        line-height 14px
        opacity var(--opacity)
        padding 0 6px
        position absolute
        top 50%
        transform translate(-50%, -50%)
        transition opacity .2s linear
        transition-delay .2s
        visibility var(--visibility)
        z-index 20

      &:after
        --visibility hidden
        --opacity 0
        --outline-color transparent
        background transparent
        box-shadow 8px 0 0 $color_mg, -8px 0 0 $color_mg
        content ''
        display block
        height calc(100% - 1px)
        left 1px
        opacity var(--opacity)
        outline 1px dashed
        outline-color var(--outline-color)
        pointer-events none
        position absolute
        top 1px
        transition opacity .2s linear, outline .2s linear
        visibility var(--visibility)
        width calc(100% - 1px)
        z-index 10
