html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title kanoe-css
    link(href='./styles/index.css' rel='stylesheet' type='text/css')
    style.
      @import url('https://rsms.me/inter/inter.css');
      :root {
        --font-family-sans-serif-custom: 'Inter';
      }
      @supports (font-variation-settings: normal) {
        :root {
          --font-family-sans-serif-custom: 'Inter';
        }
      }

  body

    .header.has_border.is_sticky
      .header_left
        h1.font_size--large-xxx Kanoe CSS

    .grid_row
      .grid_column.is_2
        nav.nav
          ul.list.is_plain.is_hoverable.has_border_bottom
            li.list_item
              a(href='#') reset
            li.list_item
              a(href='#') typography
            li.list_item
              a(href='#') font_inter
            li.list_item
              a(href='#') colors
            li.list_item
              a(href='#') grid
            li.list_item
              a(href='#') helpers
            li.list_item
              a(href='#') box
            li.list_item
              a(href='#') button
            li.list_item
              a(href='#') list
            li.list_item
              a(href='#') table
            li.list_item
              a(href='#') header

      section.grid_column.is_10
        include base/mixins
        include base/reset
        include base/typography
        include base/font_inter
        include base/colors
        include base/grid
        include base/helpers

        include elements/box
        include elements/button

        include components/list
        include components/table

        include layout/header
