html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title kanoe-css
    link(href='./styles/index.css' rel='stylesheet' type='text/css')

  body

    .header.has_border.is_sticky
      .grid_container
        .header_left
          h1.font_size--large-xxx Kanoe CSS

    .grid_container
      section
        include base/mixins
        include base/reset
        include base/typography
        include base/grid
        include base/helpers
        include elements/button
        include layout/header
