fontModifiers()

  &has_calt
    font-feature-settings 'calt' 1
  &hasnt_calt
    font-feature-settings 'calt' 0

  &has_liga
    font-feature-settings 'liga' 1
  &hasnt_liga
    font-feature-settings 'liga' 0

  &is_tnum
    font-feature-settings 'tnum' 1
  &isnt_tnum
    font-feature-settings 'tnum' 0

  &is_frac
    font-feature-settings 'frac' 1
  &isnt_frac
    font-feature-settings 'frac' 0

  &is_numr
    font-feature-settings 'numr' 1
  &isnt_numr
    font-feature-settings 'numr' 0

  &is_dnom
    font-feature-settings 'dnom' 1
  &isnt_dnom
    font-feature-settings 'dnom' 0

  &is_sups
    font-feature-settings 'sups' 1
  &isnt_sups
    font-feature-settings 'sups' 0

  &is_subs
    font-feature-settings 'subs' 1
  &isnt_subs
    font-feature-settings 'subs' 0

  &is_case
    font-feature-settings 'case' 1
  &isnt_case
    font-feature-settings 'case' 0

  &is_ss01
    font-feature-settings 'ss01' 1
  &isnt_ss01
    font-feature-settings 'ss01' 0

  &is_ss02
    font-feature-settings 'ss02' 1
  &isnt_ss02
    font-feature-settings 'ss02' 0

  &is_ss03
    font-feature-settings 'ss03' 1
  &isnt_ss03
    font-feature-settings 'ss03' 0

  &is_dlig
    font-feature-settings 'dlig' 1
  &isnt_dlig
    font-feature-settings 'dlig' 0

  &is_zero
    font-feature-settings 'zero' 1
  &isnt_zero
    font-feature-settings 'zero' 0

  &is_cv11
    font-feature-settings 'cv11' 1
  &isnt_cv11
    font-feature-settings 'cv11' 0

  &is_locl
    font-feature-settings 'locl' 1
  &isnt_locl
    font-feature-settings 'locl' 0

  &is_salt
    font-feature-settings 'salt' 1
  &isnt_salt
    font-feature-settings 'salt' 0

  &is_aalt
    font-feature-settings 'aalt' 1
  &isnt_aalt
    font-feature-settings 'aalt' 0

  &is_ccmp
    font-feature-settings 'ccmp' 1
  &isnt_ccmp
    font-feature-settings 'ccmp' 0

  &is_cpsp
    font-feature-settings 'cpsp' 1
  &isnt_cpsp
    font-feature-settings 'cpsp' 0

  &is_ordn
    font-feature-settings 'ordn' 1
  &isnt_ordn
    font-feature-settings 'ordn' 0

+generateForBreakpoints()
  fontModifiers()
