:root
  // Grid
  --grid_quantity_columns 12
  --grid_gutter calc(var(--vertical-rhythm) * 2)

.grid_row
  --vertical-align stretch
  --flex-direction row
  --flex-wrap wrap
  --horizontal-align flex-start
  --margin-bottom calc(var(--vertical-rhythm) * 2)
  align-content stretch
  align-items var(--vertical-align)
  display flex
  flex-direction var(--flex-direction)
  flex-wrap var(--flex-wrap)
  justify-content var(--horizontal-align)
  margin-bottom var(--margin-bottom)
  width 100%
  z-index 1

  // Direction
  &.direction
    &_row
      --flex-direction row
    &_column
      --flex-direction column

  &.has
    &_break
      --flex-wrap wrap
    &_margin
      --margin-bottom calc(var(--vertical-rhythm) * 2)

  &.no
    &_break
      --flex-wrap nowrap
    &_margin
      --margin-bottom 0

// Column base
[class*='grid_column']
  --quant-columns 1
  --vertical-align auto
  --order 1
  --offset 0
  align-self var(--vertical-align)
  flex-basis calc((100% / var(--grid_quantity_columns)) * var(--quant-columns) - calc(var(--vertical-rhythm) * 2))
  margin-left calc((100% / var(--grid_quantity_columns)) * var(--offset) + var(--vertical-rhythm))
  margin-right var(--vertical-rhythm)
  flex-shrink 0
  width @flex-basis
  order var(--order)

  & > .row
    margin-left calc(var(--grid_gutter) * -1)
    width calc(100% + calc(var(--grid_gutter) * 2))

// .grid_column

// Size
.is
  for $col in (1..$columns)
    &_{$col}
      --quant-columns $col
      // flex-basis ($col * 6 * 16px)

.align
  // hporizontal align rows
  &_horizontal
    &_left
      --horizontal-align flex-start
    &_center
      --horizontal-align center
      &_spaced
        --horizontal-align space-around
      &_justify
        --horizontal-align space-between
    &_right
      --horizontal-align flex-end
  // vertical align row OR column
  &_vertical
    &_stretch
      --vertical-align auto
    &_top
      --vertical-align flex-start
    &_center
      --vertical-align center
    &_bottom
      --vertical-align flex-end

// Offset
for $col in (1..$columns)
  .has_offset_{$col}
    --offset $col

// Order
gridColumnOrder()
  for $col in (1..$columns)
    &is_order_{$col}
      --order $col

// Generate columns in all sizes in all breakpoints
+generateForBreakpoints()
  gridColumnOrder()
