helperHeight()
  &has_height
    for num in (1..20)
      &_{num}
        height 'calc(var(--vertical-rhythm) * %s)' % (num * 2)

helperHidden()
  &is_hidden
    display none

helperInvisible()
  &is_invisible
    visibility hidden

// Generate columns in all sizes in all breakpoints
+generateForBreakpoints()
  helperHeight()
  helperHidden()
  helperInvisible()
