h1 Typography

section
  h2 Font Sizes
  p
    .font_size--small-xxx .font_size--small-xxx
    .font_size--small-xx .font_size--small-xx
    .font_size--small-x .font_size--small-x
    .font_size--small .font_size--small
    .font_size--regular .font_size--regular
    .font_size--large .font_size--large
    .font_size--large-x .font_size--large-x
    .font_size--large-xx .font_size--large-xx
    .font_size--large-xxx .font_size--large-xxx

section
  h2 Title & subtitle
  p
  .demo
    div.is_title .is_title
    div.is_subtitle .is_subtitle

section
  h2 Font Weights

  h2 Absolute values
  p
    .font_weight--light-xxx .font_weight--light-xxx .font_weight--thin
    .font_weight--light-xx .font_weight--light-xx .font_weight--extra-light .font_weight--light-extra
    .font_weight--light-x .font_weight--light-x .font_weight--light
    .font_weight--regular .font_weight--regular .font_weight--normal
    .font_weight--bold-x .font_weight--bold-x .font_weight--medium
    .font_weight--bold-xx .font_weight--bold-xx .font_weight--semi-bold
    .font_weight--bold-xxx .font_weight--bold-xxx .font_weight--bold
    .font_weight--bold-xxxx .font_weight--bold-xxxx .font_weight--extra-bold
    .font_weight--bold-xxxx .font_weight--bold-xxxx .font_weight--black

  h2 Relative values
  p
    .font_weight--lighter .font_weight--lighter
    .font_weight--bolder .font_weight--bolder

section
  h2 Font Styles
  p
    .font_style--normal .font_style--normal
    .font_style--italic .font_style--italic

section
  h2 Font Family
  p The default font stack is:
  code 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  p You can change the font adding a loading a new font and setting the font name in CSS. Example
  p Add Montserrat font from google fonts
  code= '<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">'
  p And set the font name
  code
    | :root {
    |   --font-family: Montserrat;
    | }

