body
  font-family var(--font-family)
  font-size var(--font-size--regular)

// Font size
[class*='font_size'], [class*='is_title'], [class*='is_subtitle']
  --font-size var(--font-size--regular)
  --line-height calc(var(--vertical-rhythm) * 2)
  font-size var(--font-size)
  line-height var(--line-height)
  margin 0
  padding 0

// Font weight
[class*='font_weight']
  font-weight var(--font-weight)

typographyAll()

  &is_title
    --font-size var(--font-size--large-xxx)
    --line-height var(--line-height--large-xxx)
    font-weight var(--font-weight--bold-xx)

  &is_subtitle
    --font-size var(--font-size--large-x)
    --line-height var(--line-height--large-x)
    font-weight var(--font-weight--bold-x)

  &font

    &_size

      for $size, $index in $font_sizes
        &--{$size}
          --font-size 'var(--font-size--%s)' % $size
          --line-height 'var(--line-height--%s)' % $size

    &_weight

      // Absolute values
      &--light-xxx, &--thin
        --font-weight var(--font-weight--light-xxx)
      &--light-xx, &--extra-light, &--light-extra
        --font-weight var(--font-weight--light-xx)
      &--light-x, &--light
        --font-weight var(--font-weight--light-x)
      &--regular, &--normal
        --font-weight var(--font-weight--regular)
      &--bold-x, &--medium
        --font-weight var(--font-weight--bold-x)
      &--bold-xx, &--semi-bold
        --font-weight var(--font-weight--bold-xx)
      &--bold-xxx, &--bold
        --font-weight var(--font-weight--bold-xxx)
      &--bold-xxxx, &--extra-bold
        --font-weight var(--font-weight--bold-xxxx)
      &--bold-xxxx, &--black
        --font-weight var(--font-weight--bold-xxxx)

      // Relative values
      &--lighter
        font-weight lighter
      &--bolder
        font-weight bolder

    &_style
      &--normal
        font-style normal
      &--italic
        font-style italic

+generateForBreakpoints()
  typographyAll()
