h1 Typography

section
  h2 Font Sizes
  p
    .font_size--small-xxx .font_size--small-xxx
    .font_size--small-xx .font_size--small-xx
    .font_size--small-x .font_size--small-x
    .font_size--small .font_size--small
    .font_size--regular .font_size--regular
    .font_size--large .font_size--large
    .font_size--large-x .font_size--large-x
    .font_size--large-xx .font_size--large-xx
    .font_size--large-xxx .font_size--large-xxx
