#layout-header
  h1 Header

  p header

  .header
    .header_left .header_left
    .header_center .header_center
    .header_right .header_right

h2 Modifiers

h3 Border
p  add the class `.has_border` to add a border bottom

h3 Sticky
p  add the class `.is_sticky` to set position sticky on scroll
