section#header
  h1.font_size--large-xxx Header
  .header
    .header_left .header_left
    .header_center .header_center
    .header_right .header_right

  section#header-modifiers
    h2.font_size--large-xx Header Modifiers

    h3.font_size--large-x Border
    p  add the class `.has_border` to add a border bottom

    h3.font_size--large-x Sticky
    p  add the class `.is_sticky` to set position sticky on scroll
